<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>Raw data</h1>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Created at</th>

        <th>Wiek</th>
        <th>Płeć</th>
        <th>Czynsz</th>
        <th>Jakie mieszkanie?</th>
        <th>Jak ważna cena?</th>
        <th>Jak ważny standard?</th>
        <th>Jak ważna lokalizacja</th>
    </tr>
    </thead>

    <tbody>
    {% for element in formdata %}
    <tr>
        <td>{{ element.id }}</td>
        <td>{{ element.created_at }}</td>

        <td>{{ element.wiek }}        </td>
        <td>{% if element.plec == 0 %}
            Kobieta
            {% endif %}
            {% if element.plec == 1 %}
            Mężczyzna
            {% endif %}
        </td>
        <td>{{ element.czynsz }} zł</td>
        <td>
            {% if element.gmiesz == 1 %}
            Akademik
            {% elif element.gmiesz == 2 %}
            Mieszkanie (samodzielnie)
            {% elif element.gmiesz == 3 %}
            Pokój 1-osobowy
            {% elif element.gmiesz == 4 %}
            Pokój wieloosobowy
            {% elif element.gmiesz == 5 %}
            Mieszkam z rodzicami
            {% else %}
            Błąd, dane<br>spoza zakresu
            {% endif %}
        </td>
        <td>
            {% if element.Wcena == 1 %}
            mało istotne
            {% elif element.Wcena == 2 %}
            średnio istotne
            {% elif element.Wcena == 3 %}
            bardzo istotne
            {% else %}
            Błąd, dane<br>spoza zakresu
            {% endif %}
        </td>
        <td>
            {% if element.Wstand == 1 %}
            mało istotne
            {% elif element.Wstand == 2 %}
            średnio istotne
            {% elif element.Wstand == 3 %}
            bardzo istotne
            {% else %}
            Błąd, dane<br>spoza zakresu
            {% endif %}
        </td>
        <td>
            {% if element.Wloka == 1 %}
            mało istotne
            {% elif element.Wloka == 2 %}
            średnio istotne
            {% elif element.Wloka == 3 %}
            bardzo istotne
            {% else %}
            Błąd, dane<br>spoza zakresu
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}